{% extends "base.html" %}

{% block main_content %}

<h1>Get to know the team behind RouteScout!</h1>
<div class="about">
<div><img class="aboutPic" src="/static/IMG_0642.jpg" alt="Nicole Sobski"> 
       <h3>Nicole Sobski</h3>
       <p>I'm Nicole Sobski and I'm a senior majoring in Computer Science. Running has been a big part of my life; it's allowed
        me to appreciate Wellesley's campus and explore new places in Boston. I'm hoping that this application
        will inspire runners to try out new routes!
       </p> 
</div>

<div><img class="aboutPic" src="/static/yuneydy.jpg" alt="One of our awesome creators"> 
    <h3>Yuneydy Paredes</h3>
    <p> Hey! I'm Yuneydy Paredes and I am a junior double majoring in Computer Science and American Studies. I love to cook and crochet, basically two grandma activities.
        I love to walk everywhere being a New Yorker so I definitely want to get more into running!
    </p> 
</div>

<div><img class="aboutPic" src="/static/maya.jpg" alt="One of our awesome creators"> 
    <h3>Maya Lu-Heda</h3>
    <p> I'm Maya Lu-Heda and in the Green Class of 2025. I've been running throughout college and just ran my first Half Marathon. 
     I'm excited to build this app and find new, exciting routes in the area!</p> 
</div>

<div><img class="aboutPic" src="/static/maddie.jpg" alt="One of our awesome creators"> 
    <h3>Madeleine Hansen</h3>
    <p>My name is Madeleine Hansen and I am class of 2026! I am a Computer Science and Psychology double major. 
        I am a beginner runner excited to keep running in Boston!</p> 
</div>

</div>
{% endblock %}