{% extends "base.html" %}

{% block main_content %}

<h1>Get to know the team behind RouteScout!</h1>
<div class="about">
<div><img class="aboutPic" src="/static/placeholder.svg" alt="One of our awesome creators"> 
       <h3>Nicole Sobski</h3>
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet tincidunt mi. Aenean vitae volutpat ex. 
        Proin auctor velit sem, in bibendum arcu vestibulum ut. Curabitur leo odio, faucibus quis erat vel, consectetur accumsan nulla.</p> 
</div>

<div><img class="aboutPic" src="/static/placeholder.svg" alt="One of our awesome creators"> 
    <h3>Yuneydy Paredes</h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet tincidunt mi. Aenean vitae volutpat ex. 
     Proin auctor velit sem, in bibendum arcu vestibulum ut. Curabitur leo odio, faucibus quis erat vel, consectetur accumsan nulla.</p> 
</div>

<div><img class="aboutPic" src="/static/placeholder.svg" alt="One of our awesome creators"> 
    <h3>Maya Luheda</h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet tincidunt mi. Aenean vitae volutpat ex. 
     Proin auctor velit sem, in bibendum arcu vestibulum ut. Curabitur leo odio, faucibus quis erat vel, consectetur accumsan nulla.</p> 
</div>

<div><img class="aboutPic" src="/static/placeholder.svg" alt="One of our awesome creators"> 
    <h3>Madeleine Hansen</h3>
    <p>My name is Madeleine Hansen and I am class of 2026! I am a Computer Science and Psychology double major. 
        I am a beginner runner excited to keep running in Boston!</p> 
</div>

</div>
{% endblock %}