{% extends "base.html" %}

{% block main_content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
    {% for msg in messages %}
    <p>{{msg}}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="center-container">
    <form id="joinform" action="{{url_for('login')}}" method="post">
        <h2>Login</h2>
        
        <label>Username:
            <input type="text" name="username" required pattern="^\w+$">
        </label>
        
        <label>Password:
            <input type="password" name="password" required>
        </label>
        
        <button type="submit">Submit</button>

        
    </form>
</div>

<a href="{{url_for('signUp')}}" target="_self" class="back-to-login">
    <button class="styled-button">Sign Up!</button>
</a>

</body>
</html>