{% extends "base.html" %}

{% block main_content %}

<h1>All Running Routes</h1>

<div class="filter-form">
    <form method="GET" action="{{url_for('profileFeed')}}">
    <label>
        <input required type="radio" name="filter" value="all">
        Show All Runs
    </label>
    <label>
        <input required type="radio" name="filter" value="user">
        Show My Runs
    </label>
    <button type="submit">Filter Runs</button>
</form>
</div>

<div class="route-container">
    {% for route in routes %}
    <div class="route-box">
        <h2>{{route["name"]}}</h2>
        <p><b>Route ID:</b> {{route["routeID"]}}</p>
        <p><b>Uploaded By:</b> {{route["username"]}}</p>
        <p><b>Date/Time:</b> {{route["created_at"]}}</p>
        <p><b>Description:</b> {{route["route_description"]}}</p>
        <p><b>Level:</b> {{route["level"]}}</p>
        <p><b>Miles:</b> {{route["mileage"]}}</p>
        <p><b>Start:</b> {{route["starting_town"]}}</p>
        <p><b>End:</b> {{route["finishing_town"]}}</p>
        <p><b>Out N Back?</b> {{route["out_and_back"]}}</p>
        <p><b>Bathroom?</b> {{route["bathroom"]}}</p>
        <p><b>Where?</b> {{route["bathroom_description"]}}</p>
        <p><b>Water Fountain?</b> {{route["water_fountain"]}}</p>
        <p><b>Where?</b> {{route["fountain_description"]}}</p>
        <p><b>Ratings:</b></p>
        <ul>
            {% for rating in ratings %}
                {% if rating[2] == route["routeID"] %}
                <li>Rating: {{ rating[3] }} | Comment: {{ rating[4] }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <p><b>Overall Rating:</b></p>
        <ul>
            {% for avgRating in avg_ratings %}
                {% if avgRating[0] == route["routeID"] %}
                <li>Overall rating: {{ avgRating[1] }}/5</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

{% endblock %}
