{% extends "base.html" %}

{% block main_content %}

<h1>All Running Routes</h1>

<div class="filter-form">
    <form method="GET" action="{{url_for('profileFeed')}}">
    <label>
        <input required type="radio" name="filter" value="all">
        Show All Runs
    </label>
    <label>
        <input required type="radio" name="filter" value="user">
        Show My Runs
    </label>
    <button type="submit">Filter Runs</button>
</form>
</div>

<div class="route-container">
    {% for route in routes %}
    <div class="route-box">
        <h2>{{route[2]}}</h2>
        <p><b>Route ID:</b> {{route[0]}}</p>
        <p><b>Uploaded By:</b> {{route[19]}}</p>
        <p><b>Date/Time:</b> {{route[1]}}</p>
        <p><b>Description:</b> {{route[3]}}</p>
        <p><b>Level:</b> {{route[5]}}</p>
        <p><b>Miles:</b> {{route[6]}}</p>
        <p><b>Start:</b> {{route[8]}}</p>
        <p><b>End:</b> {{route[10]}}</p>
        <p><b>Out N Back?</b> {{route[11]}}</p>
        <p><b>Bathroom?</b> {{route[12]}}</p>
        <p><b>Where?</b> {{route[13]}}</p>
        <p><b>Water Fountain?</b> {{route[14]}}</p>
        <p><b>Where?</b> {{route[15]}}</p>
        <p><b>Ratings:</b></p>
        <ul>
            {% for rating in ratings %}
                {% if rating[2] == route[0] %}
                <li>Rating: {{ rating[3] }} | Comment: {{ rating[4] }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <p><b>Overall Rating:</b></p>
        <ul>
            {% for avgRating in avg_ratings %}
                {% if avgRating[0] == route[0] %}
                <li>Overall rating: {{ avgRating[1] }}/5</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

{% endblock %}
