{% extends "base.html" %}

{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Build Individual Runner Profile Here</title>
</head>

<h1 class="about-title">Your profile</h1>

<div class="profile-info">
<img class="profile-photo" src="{{ url_for('static', filename='uploads/' + profilepicturefilename) }}" alt="Profile Picture"> 
<p class="profile-text">Username: {{username}}</p>
<p class="profile-text">Pronouns: {{pronouns}}</p>
<p class="profile-text">Current level: {{level}}</p>
<p class="profile-text">Current overall mileage: {{overallMileage}}</p>
<p class="profile-text">Current averrage pace: {{avgPaceMin}}:{{avgPaceSec}}</p>
<p class="profile-text"number of routes you have created: {{routesCreated}}</p>
</div>


<h2 class="about-title">Update Your Information</h2>

<div class ="profile-info">
<form method="POST" action="{{ url_for('profile') }}" enctype="multipart/form-data">
    <table>
        <tr>
            <td><label for="new-username">Username:</label></td>
            <td><input id="new-username" name="new-username" type="text" value="{{ username }}"></td> 
        </tr>
        <tr>
            <td><label for="new-pronouns">Pronouns:</label></td>
            <td><input id="new-pronouns" name="new-pronouns" type="text" value="{{ pronouns }}"></td>
        </tr>
        <tr>
            <td><label for="new-level">Level (must be Beginner, Intermediate, or Advanced):</label></td>
            <td><input id="new-level" name="new-level" type="text" value="{{ level }}"></td>
        </tr>
        <tr>
            <td><label for="new-pace">Average Pace:</label></td>
            <td><input  id="new-pace-min" name="new-pace-min" type="text" value="{{ avgPaceMin }}" maxlength="2" class="small-input">
            <span>:</span>
            <input id="new-pace-sec" name="new-pace-sec" type="text" value="{{ avgPaceSec }}" maxlength="2" class="small-input"></td>
        </tr>
        <tr>
            <td><label for="profilepic">Profile Picture (must be jpeg):</label></td>
            <td><input type="file" id="profilepic" name="profilepic" accept=".jpeg"></td>
            
        </tr>
    </table>
    <div>
        <button type="submit" name="submit" value="update" >Update Profile</button>
        <button type="submit" name="submit" value="delete" onclick="return confirm('Are you sure you want to delete your profile? This action cannot be undone.')">Delete Profile</button>
    </div>
</form>
</div>

{% endblock %}
