{% extends "base.html" %}

{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Route</title>
</head>
<body>
    <h1>Upload Details About Your Running Route</h1>

<form method="post" action="">
    <p>
        <label for="name">Name: </label>
        <input type="text" name="name1" id="name" required>
    </p>
    
    <p>
        <label for="notes">Route Description, Notes or Tips: </label>
        <textarea name="notes" rows="4" placeholder="Describe notable features, challenges, or other details"></textarea>
    </p>

    <label for="route_tcx">Route TCX:</label>
        <textarea id="route_tcx" name="route_tcx"></textarea><br>
    <p>
        <label for="distance">Distance (miles): </label>
        <input type="number" name="distance" id="distance" step="0.01" placeholder="Enter distance in miles" required>
    </p>    

    <p>
        <label for="location">Starting location </label>
        <select name="startingLocation" id="startingLocation">
            <option value="newt">Newton</option>
            <option value="camb">Cambridge</option>
            <option value="welles">Wellesley</option>
            <option value="framing">Framingham</option>
            <option value="natick">Natick</option>
            <option value="walth">Waltham</option>
            <option value="bos">Boston</option>
            <option value="somer">Somerville</option>
            <option value="brookline">Brookline</option>
            <option value="medford">Medford</option>
            <option value="malden">Malden</option>
            <option value="revere">Revere</option>
        </select>
    </p>

    <p>
        <label for="location">Ending </label>
        <select name="endingLocation" id="endingLocation">
            <option value="newt">Newton</option>
            <option value="camb">Cambridge</option>
            <option value="welles">Wellesley</option>
            <option value="framing">Framingham</option>
            <option value="natick">Natick</option>
            <option value="walth">Waltham</option>
            <option value="bos">Boston</option>
            <option value="somer">Somerville</option>
            <option value="brookline">Brookline</option>
            <option value="medford">Medford</option>
            <option value="malden">Malden</option>
            <option value="revere">Revere</option>
        </select>
    </p>


    <p>
        <label for="route_name">Route Name: </label>
        <input type="text" name="route_name" id="route_name" required>
    </p>
    
    <p>
        <label for="location">Location: </label>
        <input type="text" name="location" id="location" placeholder="e.g., Wellesley" required>
    </p>
    
    <p>
        <label for="outBack">Was it out and back? </label>
        <input type="radio" name="outBack" value="yes" id="outBack_yes">
        <label for="outBack_yes">Yes</label>
        
        <input type="radio" name="outBack" value="no" id="outBack_no">
        <label for="outBack_yes">No</label>

        <input type="radio" name="outBack" value="temp" id="outBack">
        <label for="outBack_temp">Temporary</label>
    </p>
    
    <p>
        <label for="difficulty">Difficulty Level: </label>
        <select name="difficulty" id="difficulty">
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
        </select>
    </p>
    
    
    <p>
        <label for="bathrooms">Were there bathrooms along the route? </label>
        <input type="radio" name="bathrooms" value="yes" id="bathrooms_yes">
        <label for="bathrooms_yes">Yes</label>
        
        <input type="radio" name="bathrooms" value="no" id="bathrooms_no">
        <label for="bathrooms_no">No</label>

        <input type="radio" name="bathrooms" value="temp" id="bathrooms_temp">
        <label for="bathrooms_temp">Temporary</label>
    </p>
    
    <p>
        <label for="bathroom_location">Bathroom Locations </label>
        <textarea name="bathroom_location" id="bathroom_location" rows="3" placeholder="e.g., Bathroom at Sudbury Path Trailhead"></textarea>
    </p>
    
    <p>
        <label for="water">Were there water stations along the route? </label>
        <input type="radio" name="water" value="yes" id="water_yes">
        <label for="water_yes">Yes</label>
        
        <input type="radio" name="water" value="no" id="water_no">
        <label for="water_no">No</label>
    </p>

    <p>
        <label for="water_location">Water Locations </label>
        <textarea name="water_location" id="water_location" rows="3" placeholder="e.g., Water fountain by MIT Boathouse"></textarea>
    </p>


    <p>
        <label for="rating">Rate this Route (1 - 5): </label>
        <select name="rating" id="rating">
            <option value="1">1 - Wouldn't recommend</option>
            <option value="2">2 - Somewhat enjoyable</option>
            <option value="3">3 - Pleasant</option>
            <option value="4">4 - Very Nice</option>
            <option value="5">5 - Highly recommend</option>
        </select>
    </p>
</body>


    <button type="submit">Submit</button>
</form>


{% endblock %}
