{% extends "base.html" %}

{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Route</title>
</head>
<body>
    <h1>Upload Details About Your Running Route</h1>

    <form method="post" action="{{url_for('upload_route')}}" enctype="multipart/form-data">
    <p>
        <label for="name">Route Name: </label>
        <input type="text" name="name" id="name" required>
    </p>
    
    <p>
        <label for="notes">Route Description, Notes or Tips: </label>
        <textarea name="notes" rows="4" placeholder="Describe notable features, challenges, or other details"></textarea>
    </p>

    <p>
        <label for="route_tcx">Route TCX:</label>
        <input type="file" id="route_tcx" name="route_tcx" accept=".gpx" required><br>
   
    </p>    
    
    <p>
        <label for="embedded_map_link">Embedded Map Link:</label>
        <input type="text" id="embedded_map_link" name="embedded_map_link" required><br>
    </p> 

    <p>
        <label for="distance">Distance in Miles (use decimal notation): </label>
        <input type="text" name="distance" id="distance" placeholder="Enter distance in miles" required 
               pattern="^\d+\.\d+$" title="Enter a decimal mileage (e.g., 5.0)" />
    </p>    

    <p>
        <label for="location">Starting location </label>
        <select name="starting_town" id="starting_town">
            <option value="Newton">Newton</option>
            <option value="Cambridge">Cambridge</option>
            <option value="Wellesley">Wellesley</option>
            <option value="Framingham">Framingham</option>
            <option value="Natick">Natick</option>
            <option value="Waltham">Waltham</option>
            <option value="Boston">Boston</option>
            <option value="Somerville">Somerville</option>
            <option value="Brookline">Brookline</option>
            <option value="Medford">Medford</option>
            <option value="Malden">Malden</option>
            <option value="Revere">Revere</option>
        </select>
    </p>

    <p>
        <label for="location">Ending </label>
        <select name="finishing_town" id="finishing_town">
            <option value="Newton">Newton</option>
            <option value="Cambridge">Cambridge</option>
            <option value="Wellesley">Wellesley</option>
            <option value="Framingham">Framingham</option>
            <option value="Natick">Natick</option>
            <option value="Waltham">Waltham</option>
            <option value="Boston">Boston</option>
            <option value="Somerville">Somerville</option>
            <option value="Brookline">Brookline</option>
            <option value="Medford">Medford</option>
            <option value="Malden">Malden</option>
            <option value="Revere">Revere</option>
        </select>
    </p>


    
    
    <p>
        <label for="location">Location: </label>
        <input type="text" name="location" id="location" placeholder="e.g., Wellesley" required>
    </p>
    
    <p>
        <label for="outBack">Was it out and back? </label>
        <input type="radio" name="outBack" value="yes" id="outBack_yes">
        <label for="outBack_yes">Yes</label>
        
        <input type="radio" name="outBack" value="no" id="outBack_no">
        <label for="outBack_no">No</label>

    </p>
    
    <p>
        <label for="difficulty">Difficulty Level: </label>
        <select name="difficulty" id="difficulty">
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
        </select>
    </p>
    
    
    <p>
        <label for="bathrooms">Were there bathrooms along the route? </label>
        <input type="radio" name="bathrooms" value="yes" id="bathrooms_yes">
        <label for="bathrooms_yes">Yes</label>
        
        <input type="radio" name="bathrooms" value="no" id="bathrooms_no">
        <label for="bathrooms_no">No</label>

    </p>
    
    <p>
        <label for="bathroom_location">Bathroom Locations </label>
        <textarea name="bathroom_location" id="bathroom_location" rows="3" placeholder="e.g., Bathroom at Sudbury Path Trailhead"></textarea>
    </p>
    
    <p>
        <label for="water">Were there water stations along the route? </label>
        <input type="radio" name="water" value="yes" id="water_yes">
        <label for="water_yes">Yes</label>
        
        <input type="radio" name="water" value="no" id="water_no">
        <label for="water_no">No</label>
    </p>

    <p>
        <label for="water_location">Water Locations </label>
        <textarea name="water_location" id="water_location" rows="3" placeholder="e.g., Water fountain by MIT Boathouse"></textarea>
    </p>
    
</body>

    <button type="submit">Submit</button>
</form>


{% endblock %}
