<link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}


<div class="center-container">
  <form id="joinform" action="{{url_for('signUp')}}" method="post">
      <h2>Join RouteScout!</h2>
      
      <label>Username:
          <input type="text" name="username" required pattern="^\w+$">
      </label>
      
      <label>Password:
          <input type="password" name="password1" required>
      </label>
      
      <label>Password again:
          <input type="password" name="password2" required>
      </label>
      
      <label>What are your pronouns?
          <input type="text" name="pronouns" placeholder="pronouns/here" required>
      </label>
      
      <label for="level">What's your running level?
      <select name="level" id="level">
          <option value="Beginner">Beginner</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Advanced">Advanced</option>
      </select>
      </label>
      
      <label>What is your current overall mileage? [number]
        <input type="number" name="overall_mileage" placeholder="number of miles" required min="0" step="1">
      </label>

      <label>What is your current average pace?
          <input type="text" name="average_pace_min" placeholder="minutes" pattern="\d{1,2}" maxlength="2" class="small-input" required>
          <span>:</span>
          <input type="text" name="average_pace_sec" placeholder="seconds" pattern="\d{1,2}" maxlength="2" class="small-input" required>
      </label>
      
      <button type="submit">Submit</button>

  </form>

</div>

<a href="{{url_for('login')}}" target="_self" class="back-to-login">
  <button class="styled-button">Back to Login</button>
</a>